<div class="hero-unit">
  <h1>Welcome!</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae libero et nisl adipiscing laoreet. Nulla
    sagittis faucibus cursus. Vestibulum cursus ultrices leo id accumsan. Sed a augue magna. Ut euismod, leo eget
    porttitor elementum, urna felis iaculis quam, nec scelerisque enim velit sit amet quam. Nullam condimentum commodo
    auctor. Nunc vel magna nec orci vehicula consequat nec quis nunc. Duis congue hendrerit ante, eu dapibus est mattis
    non. In porttitor imperdiet pretium. Pellentesque iaculis tellus eu orci vestibulum id auctor diam viverra.
    Pellentesque pharetra, nibh ac volutpat adipiscing, nisl ipsum consequat eros, a semper nulla risus non ligula.
    Integer pulvinar arcu felis.

  </p>

  <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <% @projects.each do |unfinished_project| %>

      <div class="span12 projectPost">
          <h2><%= unfinished_project.title %></h2>
          <a href="#" class="thumbnail projectThumbnail">
            <%=  image_tag unfinished_project.image_url %>
          </a>

          <h4>Description:</h4>
          <p><%= unfinished_project.description %></p>

          <h4>Repository Link</h4>
          <a href="#"><%= unfinished_project.repo_url %></a>
          <p><%=  link_to 'View details', project_path + '/' + unfinished_project.id.to_s, {class:'btn'} %></p>
        </div>
  <% end %>



</div>